/* Selects all image tags within thumbnails */
/* Image takes 100% of thumbnail */
/* .thumbnail img {   
    width: 100%;
    height: 100%
} */

.thumbnail {
padding: 4px;
height: auto;
display: block;
margin-right: auto;
margin-left: auto;
}

/*This is targeting any element that has both these classes */
.thumbnail .caption-full{
    padding: 9px;
}

.deleteForm {
    display: inline;
}

#map {
    height: 600px;
    width: 100%;
}

.navbar-center {
    text-align: center;
}

.b1{
    margin-top: 10px;
    display: block;
    width: 100%;
}

#reserve {
    margin-top: -7px;
}

#admin {
    color: #003399;
}